.container{
    width: 300px;
    margin: auto;
    margin-top: 70px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container h2{
    font-size: 20px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 25px;
    border-radius: 8px;
    padding-left: 15px;
    border: 1px solid #707070;
    margin-bottom: 15px;
    font-size: 15px;
    cursor: pointer;
}
.container button{
    margin: auto;
    width: 200px;
    height: 65px;
    background: burlywood;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
.container .index {
    margin: auto;
    font-size: 12px;
}

.container .correct{
    background: #dffff2;
    border-color: #00d397;
}
.container .wrong{
    background: #ffebeb;
    border-color: #ff4a4a;
}

@media (max-width: 477px) {
    .container{
        width: 200px;
        margin: auto;
        margin-top: 60px;
        background: white;
        color: #262626;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 10px;
        padding: 40px 50px;
    }
    .container hr{
        height: 2px;
        border: none;
        background: #707070;
    }
    .container h2{
        font-size: 20px;
        font-weight: 500;
    }
    .container ul li{
        display: flex;
        align-items: center;
        height: 25px;
        border-radius: 8px;
        padding-left: 15px;
        border: 1px solid #707070;
        margin-bottom: 15px;
        font-size: 15px;
        cursor: pointer;
    }
    .container button{
        margin: auto;
        width: 200px;
        height: 65px;
        background: burlywood;
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        border-radius: 8px;
        cursor: pointer;
        border: none;
    }
    .container .index {
        margin: auto;
        font-size: 12px;
    }
    
    .container .correct{
        background: #dffff2;
        border-color: #00d397;
    }
    .container .wrong{
        background: #ffebeb;
        border-color: #ff4a4a;
    }

}